.header {
  background-color: #49beb7;
  padding: 20px;

  p {
    margin: 0px;
  }
}

.sub-header {
  background-color: #f4f4f4;
  a {
    margin: 5px;
  }
  margin-bottom: 20px;
}

.activex {
  color: red;
}
